@use '../../../sass/abstracts/mixins' as mix;

.card-layout {
  &__buttons-container {
    padding: 3.2rem;
    display: flex;
    justify-content: center;
    gap: 2.4rem;

    @include mix.respond(phone-land) {
      flex-direction: column;
    }
  }

  &__btn {
    @include mix.centerFlex;
    display: inline-flex;
    font-size: 1.8rem;
    gap: 0.8rem;

    &:disabled,
    &:hover:disabled,
    &:active:disabled {
      color: var(--white);
      background-color: var(--dark-gray);
    }
  }
}
