@use '../../sass/abstracts/mixins' as mix;

.challenge {
  max-width: 120rem;
  margin: 0 auto;

  &__link {
    font-family: 'Barlow';
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.6rem 2rem;

    @include mix.respond(phone-port) {
      font-size: 1.4rem;
      margin: 0.8rem 1rem;
    }
  }
}
