@use '../../../../sass/abstracts/variables' as var;
@use '../../../../sass/abstracts/mixins' as mix;

.quiz-result {
  background-color: var(--white);
  border: var.$border-gray;
  border-radius: var.$radius-md;
  width: 40rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include mix.respond(phone-land) {
    width: 36rem;
  }
  @include mix.respond(phone-port) {
    width: 26rem;
  }

  & > *:not(.quiz-result__heading) {
    font-family: 'Barlow';
  }

  &__heading,
  &__subheading {
    display: block;
    text-align: center;
  }

  &__heading {
    font-size: 2.8rem;

    @include mix.respond(phone-land) {
      font-size: 2.4rem;
    }
  }

  &__subheading {
    @include mix.respond(phone-land) {
      font-size: 2rem;
    }
  }

  p[class*='answer'] {
    span {
      font-weight: 600;
    }
  }
}
