@use '../../sass/abstracts/mixins' as mix;

.quiz-nav {
  padding: 1.6rem;
  width: 100%;
  position: relative;

  @include mix.respond(phone-sm) {
    margin-bottom: 3.8rem;
  }

  &__btn {
    @include mix.centerFlex;
    gap: 0.4rem;
    font-size: 1.6rem;
    position: relative;
    z-index: 12;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__links > button:first-of-type {
    margin-right: auto;
  }
}
