@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts/mixins' as mix;

.radio {
  &__label {
    @include mix.centerFlex;
    font-size: 2.8rem;
    text-align: center;
    background-color: var(--white);
    border: 2px solid var(--light-gray);
    border-radius: 100px;
    padding: 0.8rem 6.4rem;
    cursor: pointer;
    transition: all 0.2s;

    @include mix.respond(tab-sm) {
      font-size: 2.4rem;
    }
    @include mix.respond(phone-port) {
      font-size: 1.8rem;
      padding: 0.8rem;
    }

    &:hover,
    &:focus-visible,
    &.selected {
      color: var(--white);
      background-color: var(--black);
      border: 2px solid var(--black);
    }
  }

  &__radio {
    display: none;
  }
}
