@use '../abstracts/mixins' as mix;

*,
*::before,
*::after {
  font-family: inherit;
}

body {
  font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

// Elements
p,
li {
  font-family: 'Barlow';
  line-height: 1;
}

small {
  font-size: 1.8rem;

  @include mix.respond(phone-port) {
    font-size: 1.4rem;
  }
}

label,
input[type='text'] {
  font-family: 'Barlow';
  font-size: 1.8rem;
}

input[type='text'] {
  font-size: 2.4rem;
}

// Headings
.heading-primary {
  font-size: 4.8rem;

  @include mix.respond(phone-land) {
    font-size: 3.6rem;
  }
  @include mix.respond(phone-port) {
    font-size: 3.2rem;
  }
}

.heading-secondary {
  font-size: 5rem;

  @include mix.respond(tab-land) {
    font-size: 4.2rem;
  }
  @include mix.respond(phone-land) {
    font-size: 2.8rem;
  }
  @include mix.respond(phone-port) {
    font-size: 2rem;
  }
}

.heading-tertiary {
  font-size: 2.6rem;

  @include mix.respond(phone-port) {
    font-size: 2rem;
  }
}
