@use '../abstracts/variables' as var;

.padding-red,
.padding-green {
  padding: 0.8rem 1.6rem;
  border-radius: var.$radius-sm;
}

.padding-red {
  background-color: var(--error);
}

.padding-green {
  background-color: var(--beginner);
}

.mb-sm {
  margin-bottom: 0.8rem !important;
}

.mb-md {
  margin-bottom: 2.4rem !important;
}

.mb-lg {
  margin-bottom: 6.4rem !important;
}
