@use '../../sass/abstracts/mixins' as mix;

.quiz {
  &__btn {
    @include mix.centerFlex;
    gap: 0.4rem;
    font-size: 1.6rem;
  }

  &__container {
    justify-self: center;
    align-self: center;
  }
}
