@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts/mixins' as mix;

.text-input {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__label {
    font-size: 3.2rem;
    text-align: center;

    @include mix.respond(phone-land) {
      font-size: 2.8rem;
    }
  }

  &__input {
    border: 3px solid var(--dark-gray);
    border-radius: 0.4rem;
    padding: 0.8rem;
    width: 32rem;
    transition: var.$transitions;

    @include mix.respond(phone-land) {
      width: 24rem;
      padding: 0.6rem;
    }

    &:focus {
      outline: none;
      border: 3px solid var(--blue);
    }
  }
}
