@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts/mixins' as mix;

.text-input {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__label {
    font-size: 3.2rem;
  }

  &__input {
    border: 3px solid var(--dark-gray);
    border-radius: 0.4rem;
    padding: 0.8rem;
    width: 32rem;
    transition: var.$transitions;

    &:focus {
      outline: none;
      border: 3px solid var(--blue);
    }
  }
}
