@use '../../../sass/abstracts/mixins' as mix;

.finish {
  padding: 2.4rem 3.2rem;
  gap: 1.6rem;

  &__heading {
    text-align: center;
    line-height: 1;
  }

  &__total {
    @include mix.centerFlex;
    flex-direction: column;
    font-size: 2.4rem;
    text-align: center;
    background-color: var(--white);
    height: 16rem;
    width: 16rem;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--light-gray);

    @include mix.respond(phone-land) {
      font-size: 1.8rem;
      margin-top: 1.6rem;
      width: 14rem;
      height: 14rem;
    }

    span {
      font-size: 4.8rem;
      font-weight: 700;

      @include mix.respond(phone-land) {
        font-size: 3.2rem;
      }
    }

    &--all {
      background-color: var(--beginner);
    }
  }

  &,
  &__answers-container {
    @include mix.centerFlex;
    flex-direction: column;
  }

  &__answers-container {
    gap: 3.2rem;
  }
}
