@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.btn {
  transition: var.$transitions;

  &:link,
  &:visited {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.8rem 1.6rem;
    border-radius: var.$radius-sm;
  }

  &:hover,
  &:active {
    color: var(--black);
    background-color: var(--white);
  }

  &--blue {
    &:link,
    &:visited,
    &:focus-visible {
      color: var(--black);
      background-color: var(--blue);
    }

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--white);
    }
  }

  &--underline {
    font-family: 'Barlow';
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;

    &:hover,
    &:focus-visible {
      outline: none;
      text-decoration: none;
    }
  }
}

.container {
  @include mix.respond(desk-lg) {
    margin: 0 auto;
  }
}
