@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.start {
  @include mix.centerFlex;
  width: 100%;
  padding: 2.4rem;
  position: relative;

  @include mix.respond(phone-port) {
    padding: 1.6rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    font-size: 3.2rem;

    @include mix.respond(phone-port) {
      font-size: 2.8rem;
      width: 90%;
      text-align: center;
    }
  }

  &__subheading {
    font-family: 'Barlow';
    font-size: 2.6rem;
    text-transform: capitalize;
    margin-bottom: 0.8rem;

    @include mix.respond(phone-port) {
      font-size: 2.2rem;
    }
  }

  &__row {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;

    @include mix.respond(phone-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__options {
    margin-top: 1.6rem;

    &-heading {
      text-align: center;
    }
  }

  &__label {
    color: var(--dark-gray);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      color: var(--black);
    }

    span {
      height: 2rem;
      width: 2rem;
      border: 2px solid var(--black);
      border-radius: 50%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: -0.1rem;
        left: -1px;
        background-color: transparent;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
      }
    }
  }

  &__btn {
    display: block;
    padding: 0.8rem;
    font-size: 2.4rem;
    border-radius: var.$radius-sm;
    background-color: var(--blue);
    border: none;
    margin: 0 auto;

    @include mix.respond(phone-port) {
      font-size: 2.2rem;
    }
  }
}
