@use '../../../../sass/abstracts/variables' as var;
@use '../../../../sass/abstracts/mixins' as mix;

.flashcard {
  font-size: 4.8rem;
  min-width: 88rem;
  height: 40rem;
  position: relative;
  perspective: 140rem;
  cursor: pointer;

  @include mix.respond(tab-port) {
    min-width: 72rem;
  }
  @include mix.respond(tab-sm) {
    min-width: 56rem;
    height: 34rem;
    font-size: 3.2rem;
  }
  @include mix.respond(phone-land) {
    min-width: 46rem;
    height: 30rem;
  }
  @include mix.respond(phone-port) {
    min-width: 30rem;
    font-size: 2.4rem;
  }

  @include mix.respond(phone-sm) {
    min-width: 26rem;
  }

  &__side {
    padding: 0.8rem 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var.$radius-sm;
    border: 2px solid var(--dark-gray);
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;

    @include mix.respond(tab-sm) {
      height: 34rem;
    }
    @include mix.respond(phone-land) {
      height: 30rem;
    }

    &--white {
      background-color: var(--white);
    }
    &--black {
      color: var(--white);
      background-color: var(--black);
    }
    &--red {
      background-color: var(--error);
    }
    &--blue {
      background-color: var(--blue);
    }
    &--green {
      background-color: var(--beginner);
    }

    &.transition {
      transition: all 0.6s;
    }

    &-back {
      transform: rotateY(-180deg);
    }
  }

  &.flipped &__side-front {
    transform: rotateY(180deg);
  }

  &.flipped &__side-back {
    transform: rotateY(0);
  }
}
